body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.digital-clock{
  border: 2px, rgb(194, 30, 30);
  border-style: initial;
  background-color: blanchedalmond;
  color: coral
}
.countdown{
  background-color: coral;
  color: blanchedalmond;
}

.stopwatch{
  background-color: cornflowerblue;
  color: crimson;
  button{
    background-color:gold;
    border-radius: 25%;
    font-size: 18px;
  }
}